# Core Dependencies
logging
tqdm
random
re
signal
requests
sys
os
concurrent.futures
threading
asyncio
ssl
traceback
functools

# Web-related Dependencies
urllib3
aiohttp
defusedxml
beautifulsoup4
urllib3
requests
colorama
bs4

# Additional Dependencies
colorama
